html,body{
	height: 100%;
}
body{
	font-family: "微软雅黑";
}
*{
	box-sizing: border-box;
/* 其他浏览器用盒子模型*/
	-webkit-box-sizing: border-box; /* 兼容火狐Firefox */
	padding: 0px;
	margin: 0px;
}

ul{
	list-style: none;
}
li{
	list-style: none;
}
a{text-decoration: none;}
/*不希望鼠标放上去有一个下滑线 伪类*/
a:hover{
	text-decoration: none;
}
.cyz_header{
background: red;
	height: 140px;
	margin-bottom: -140px;
	/*绝对定位*/
	position: relative;
	background: url(imgs/header_bg.jpg) repeat-x;
	
}
.cyz_header_top{
	height: 100px;
	
}
.cyz_header_nav{
	height:40px;
		
}
.cyz_nav{
	
	height: 40px;
}
.cyz_nav li{
	float: left;
	padding: 0px 10px;
	display: inline-block;
}
.cyz_nav li>a:hover{
	
	color: #ff0;
}

/*li 元素子元素的 a*/
.cyz_nav li>a{
	height: 40px;
	line-height: 40px;
	width:100px;
	diasply:inline-block;
	text-align: center;
	color: #FFF;
	}
	
	/*去掉第一个斜杠*/
.cyz_nav li+li:before{
	content: "/\00a0";
		color:#25465A;
}

.cyz_main_container{
	background: url(imgs/bodybg.png);
	min-height: 100%;
	padding: 140px 0px 150px 0px;

}
.cyz_footer{
	background-color: #2d3237;
	height: 150px;
	/*属性设置元素的上外边距*/
	margin-top:-150px;
}
.cyz_footer_link{
	
	height:110px;
	text-align: center;
}

.cyz_footer_link  h4{
	color:#f8f8f8;
	
	}

.cyz_footer_link  .hline div {
	height: 3px;
	border-bottom:1px solid #000;
	}
	
.cyz_links{
	margin-top: 10px;
}	
	
.cyz_links a{
	margin: 5px;
	color:#99CCFF;
	font-size: 12PX;
}
.cyz_links a:hover{
	
	
	color:#fff;
}


.cyz_footer_copyright{
	height:40px;
	line-height: 40px;
	text-align: center;
	background-color: #23282d;
	color:#666;
}
/*去掉默认-15的边距*/
.cyz_main_row{
	padding-left: 15px;
	padding-left: 15px;
}

.cyz_main_left{
	padding: 10px 5px 10px  0px  ;
	
}
.cyz_main_right{
	
	padding: 10px 0px 10px  5px  ;
}
.cyz_logo{
	width: 220px;
	height: 100px;
background: url(imgs/logo.png) center center  no-repeat;
	float: left;
}
.cyz_slogan{
	display: inline-block;
	color:#FFF;
	font-size: 20px;
	/*距离顶端*/
	margin-top:40px;
	/*距离左边*/
	margin-left: 20px;
}
.cyz_header_right{
	float: right;
	height:100px;

	padding-right: 10px;
	padding-left: 10px;
}
.cyz_searchBox{
	
	margin-top: 40px
	;
	display: inline-block;
}
.cyz_user{
	
	display:inline-block;
}
.cyz_searchBox input{
	border: none;
	height: 30px;
	padding: 5px;
		border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	font-size: 14px;
}
.cyz_searchBox button{
	
	font-size: 14px;
	height: 30px;
	margin-left: -5px;
	border:none;
	background-color: #eee;
	color: #555;
	width: 60px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	
}
.cyz_searchBox input:focus{
	outline:none;
}
.cyz_user{
	padding-left: 10px;
}
.cyz_user .vline{
	margin: 0px 5px;
		color:#fff;
	font-size: 16px;
}
.cyz_user a{
	color:#fff;
	font-size: 16px;
	margin: 0px 5px;
	
}
.cyz_user a:hover{
	color: #Ea6103;
}
